$black-color: #121212;
$white-color: #f9fdfe;
$light-grey-color: #c4c4c4;
$dark-grey-color: #1e1e1e;
$medium-grey-color: #5e5e5e;
$gradient: linear-gradient(270deg, rgb(255, 111, 0), orange, fuchsia);

