@import '../../../scss/base/_variables';

.active {
    background: linear-gradient(270deg, rgb(255, 111, 0), orange, fuchsia);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &_icon {
        filter: invert(72%) sepia(53%) saturate(6619%) hue-rotate(18deg) brightness(103%) contrast(105%);
    }
}

.user {
    max-width: 950px;
    width: 100%;
    margin: 40px auto 20px;

    &__photo {
        cursor: pointer;
        position: absolute;
        bottom: 28px;
        right: 0;
        width: 40px;
        height: 40px;
        filter: invert(72%) sepia(93%) saturate(5358%) hue-rotate(22deg) brightness(103%) contrast(112%);    }

    &__infoStat {
        width: 100%;
    }

    &__divider {
        width: 2px;
        height: 45px;
        background-color: #28282a;
        border-radius: 10px;
    }

    &__block {
        display: flex;
        gap: 30px;
    }

    &__avatar {
        &_img {
            object-fit: cover;
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }

        &-block {
            position: relative;
        }

        &_add {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 10px;
            left: 10px;
        }
    }

    &__info {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        display: flex;
        flex-direction: column;

        &_title {
            font-size: 28px;
        }

        &_nickname {
            font-size: 22px;
            color: $light-grey-color;
        }
    }

    &__statistics {
        display: flex;
        align-items: center;
        gap: 35px;

        &_title {
            font-size: 21px;
            color: $light-grey-color;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }
    }

    &__description {
        font-size: 22px;
        color: $light-grey-color;
    }

    &__description-block {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__post {
        &-block {
            margin-top: 15px;
            display: flex;
            gap: 65px;
            margin-left: 7%;
        }

        &-item {
            cursor: pointer;
            display: flex;
            gap: 6px;
            align-items: center;


            & > img {
                border-radius: 5px;
                width: 20px;
                height: 20px;
            }

            &_text {
                cursor: pointer;
                border: none;
                font-size: 22px;
                color: #c4c4c4;
                background-color: transparent;
            }
        }
    }
}

.divider {
    margin-top: 30px;
    max-width: 950px;
    width: 100%;
    height: 2px;
    background-color: #28282a;
    border-radius: 10px;

    &__part {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        margin-left: 7%;
        width: 10%;
        border-radius: 10px;
        height: 2px;
        background: linear-gradient(270deg, rgb(255, 111, 0), orange, fuchsia);
    }
}

.subscribe__btn {
    width: 140px;
}


.add__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}