@import "/src/scss/base/variables";
@import url("https://fonts.cdnfonts.com/css/axiforma");

.header {
    width: 100%;
    margin: 0 auto;
    font-family: "Axiforma", sans-serif;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
    -webkit-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
    background-size: cover;
    border-radius: 50px;
    outline: none;
    transition: background-image 0.9s;
    box-shadow: 0px 2px 5px 1px gray;
}

input:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: navy;
    border-radius: 50px;
    transition: all 0.9s;

    background-color: #ecf0f3;
}

input:checked {
    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
    transition: background-image 0.9s;
}

input:checked:before {
    transform: translate(100%);
    transition: all 0.9s;
    background-color: #f7ca33;
}

}

.text-logo {
    font-size: 25px;
    background: linear-gradient(270deg, rgb(255, 111, 0), orange, fuchsia);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.logo-header_container {
    display: flex;
    align-items: center;
}

.logo-header {
    width: 10%;
}

.header-bar_container {
    padding-left: 6px;
    padding-right: 6px;
    background-color: $dark-grey-color;
    align-items: center;
    width: 275px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;

    button {
        height: 24px;
        width: 24px;
        border: none;
        background: transparent;
        transition: 0.2s;
    }

    a.profile-btnBefore {
        text-align: center;
        width: 108px;
        height: 35px;
        border: none;
        background: #121212;
        border-radius: 25px;
        color: #f9fdfe;
        transition: background 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    a.profile-btnBefore:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: 0.2s;
        }
    a.profile-btnBefore:active {
            filter: opacity(0.5);
        }

}

.profile-btn {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}


.nav-bar_container {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #1e1e1e;
    align-items: center;
    height: 275px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    margin-right: 20px;
    flex-direction: column;

    button {
        height: 24px;
        width: 24px;
        border: none;
        background: transparent;
        transition: 0.2s;
    }

    
}

.mini_img {
        width: 25px;
    height: 25px;
    border-radius: 100px;
    object-fit: cover;
    }