@import 'base/light-theme.scss';
@import 'base/_variables.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: auto;

    @media screen and (min-width: 960px) {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: $black-color;
    color: $white-color;
    transition: 0.2s;
    min-height: 100vh;
    box-sizing: border-box;
    user-select: none;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    transition: 0.3s;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.day {
    background-color: $white-color;
}

a {
    text-decoration: none;
}

