@import 'base/light-theme.scss';
@import 'base/_variables.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: $black-color;
    color: $white-color;
    transition: 0.2s;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.day {
    background-color: $white-color;
}

a {
    text-decoration: none;
}
