@import "/src/scss/base/variables";
@import url("https://fonts.cdnfonts.com/css/axiforma");

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes pop-in {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.comments_container {
    text-align: center;
}

.post_wrapper {
    height: 480px;
    background-color: $dark-grey-color;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.post_likes {
    color: $light-grey-color;
}

.mini-round-img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0 0 0 2px rgb(255, 98, 0);
    object-fit: cover;
}

.post {
    display: flex;
    justify-content: space-between;
    img {
        pointer-events: none;
    }
}

.post_img {
    width: 100%;
}

.post_img_container {
    height: 480px;
    width: 480px;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .post_date {
        font-size: 12px;
        color: $light-grey-color;
        position: absolute;
        bottom: 0;
    }
}

.comment_text {
    overflow-wrap: break-word;
    width: 231px;
}

.post_info_cotainer {
    flex-grow: 1;
    text-align: left;
    position: relative;

    a {
        color: $white-color;
    }
}

.post_info_account {
    display: flex;
    align-items: center;
}

.post_info_account_text {
    margin-left: 22px;
}

.post_info_description {
    margin-top: 15px;
    font-size: 17px;
}

.post_info_description_text {
    overflow-y: scroll;
    overflow-wrap: break-word;
    width: 300px;
    height: 50px;
    padding-right: 89px;
    &::-webkit-scrollbar {
        width: 5px;
        height: auto;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.202);
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.tools {
    height: 70px;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: inherit;
    background-color: $dark-grey-color;
    div {
        cursor: pointer;
    }
}

.tools_container_item {
    display: flex;
    gap: 20px;
    transition: 0.2s;
    p {
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.2s;
    }

    &:active {
        filter: opacity(0.5);
    }
}

.comment {
    margin-top: 30px;
}

.comment_container {
    margin-top: 10px;
    overflow-y: scroll;
    width: 90%;
    height: 255px;
    text-align: start;
    padding-right: 20px;

    &::-webkit-scrollbar {
        width: 5px;
        height: auto;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.202);
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    .comment_like-btn {
        &:active {
            filter: opacity(0.5);
        }
    }

    .delete_svg {
        height: 24px;
        width: 24px;
    }

    .post_info {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .post_info_comment {
        display: flex;
        justify-content: space-between;

        button {
            border: 0;
            background: transparent;
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 100px;
            object-fit: cover;
        }
    }
    .comment_tools {
        display: flex;
        gap: 10px;
        color: $light-grey-color;
        button {
            border: 0;
            background: transparent;
            color: $light-grey-color;
        }
    }
}

.comment_form_container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    button {
        border: 0;
        background: transparent;
        color: white;
        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: 0.2s;
        }
        &:active {
            filter: opacity(0.5);
        }
    }

    input {
        border: none;
        background-color: $black-color;
        height: 35px;
        width: 87%;
        border-radius: 50px;
        text-indent: 20px;
        outline: none;
        color: white;
        font-size: 15px;
        &:required:invalid ~ button.imput_comment_btn {
            opacity: 0.65;
            pointer-events: none;
        }
    }
}

@media (max-width: 1190px) {
    .nav-bar_container {
        width: 70%;
        height: 40px;
        flex-direction: initial;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100vh - 70px);
        margin: 0 auto;
        box-shadow: 0px 2px 5px 1px grey;
        z-index: 9999;
    }
}

.display_none {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.popup_content {
    background-color: $black-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $white-color;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-animation: pop-in 0.5s;
    -moz-animation: pop-in 0.5s;
    -ms-animation: pop-in 0.5s;
}

.popup_content p {
    margin: 0 0 10px;
    font-size: 18px;
}

.popup_button {
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.popup_button:hover {
    background-color: #c00;
}

.cancel_button {
    background-color: green;
}

.cancel_button:hover {
    background-color: rgb(0, 103, 0);
}
